@charset "UTF-8";
/* CSS Document */

/*MY STYLES*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Neucha');


*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

html, body {
	height:100%;
}

section {
	padding: 4vmax;
}

/* Home */

#home {
	height: 100%;
	justify-content: center;
	align-items: center;
	padding:4vmax;
}

#home h1 {
	font-family: 'Neucha', cursive;
	font-size:4vmax;
	text-transform:capitalize;
	font-weight:normal;
	display: block;
	text-align: center;
}

#home h2 {
	text-align: center;
	font-family: 'Neucha', cursive;
	font-size:2vmax;
	text-transform:capitalize;
	font-weight:normal;
	display: block;
	padding-bottom: 1em;
}

#home p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding:0 4em 1em 4em;
	font-size:1.2vmax;
	
}

/*Map Start*/




/***************************************************Quiz styles**************************************************************/

/*Styling relative to javascript*/

#results {
  display:none;
}

#quest_submit {
  display: none;
}

#quest_form:valid #quest_submit {
  display: initial;
}

/*Display styling*/

#quest_form {
	padding-top:1vmax;
}

.question0 {
  background-color: green;
}

.question0 button {
  display:none;
}

.question1 {
  background-color: blue;
}

.question2 {
  background-color: red;
}

#quest_title{
  color: #333333;
font-family: 'Open Sans', sans-serif;
	display:block; 
	width:100%;
}

#quest_answer {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom:1em;
}

/* Radio buttons styling */

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  border: 5px solid lightblue;
  background-color: lightblue;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 200px;
  text-align: center;
  line-height: 40px;
}
input[type="radio"]:checked + label {
  border: 5px solid blue;
  background-color: dodgerblue;
}


/*Buttons styling*/

#quest_prev, #quest_submit{
	background:orange;
	border:none;
	border-radius: 10%;
	font-family: 'Open Sans', sans-serif;
	padding:0.3em;
	text-transform:uppercase;
}


/****************************************************SVG line drawing test**************************************************/

#start {
					height: 100%;
					background:#ADD8E6;
					posiition:relative;
				}

/********************************************************Overlay menu******************************************************/

#trigger {
	font-size:20px;
	cursor:pointer;
	position:fixed;
	top:20px;
	right:20px;
	z-index: 9;
	color:#333333;
	font-weight:700;
	transition: all 2s;
}

#trigger:hover {
	color:#BA402D;
}

.overlay {
    height: 10%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content {
	position: relative;
    width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}

.overlay a {
	position: relative;
    padding: 0px;
    text-decoration: none;
	font-family: 'Playfair Display', serif;
    font-size: 1vmax;
    color: #333333;
    transition: all 0.5s;
	letter-spacing: 2px;
	font-weight:700;
	flex:1 auto;
	display:flex;
		justify-content: center;
	align-items: center;
	background:#ffffff;
}

.overlay a.one {
}

.overlay a.two {
}

.overlay a.three {
}

.overlay a.four {
}

.overlay a.five {
}

.overlay a:hover, .overlay a:focus {
    color:#fff;
	background: #BA402D;
	flex:2 auto;
}

.closebtn {
    position: absolute;
	z-index: 99;	
    top: 20px;
    right: 20px;
    font-size: 30px !important;
	line-height:0px;
	cursor: pointer;
	padding: 8px;
    text-decoration: none;
	font-family: 'Playfair Display', serif;
    color: #333333;
    transition: all 0.3s;
	text-transform:uppercase;
	font-weight:normal;
}

.closebtn:hover {
	color: #ffffff;
}
